@import 'CityPicker.css';


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.cityPickers{
  display: flex;
  width: 100%;

}

.salaryInfoWrap{
  display: flex;
  width: 100%;
}

.cityPicker{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.jobPicker{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.addCityButtonWrap{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px;

}

.dataTable{

  width:100%;
  padding-top:5%;
  justify-content: center;
  display: flex;

}

.dataTable table{
  width: 70% !important;
}

.mainBody{
  padding-top: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}